-# expects member : Member

.card.shadow-sm.my-2
  .row.g-0 
    .col-md-4
      %img.img-fluid.rounded-start{ src: member.thumbnail_url }
    .col.md-8
      .card-body
        .card-text
          %a.text-decoration-none.stretched-link{href: member_path(member.member_ref), data: {turbo_frame: '_top'}}= member.display_as
        .card-text.text-body-secondary
          = member.party.name