%nav.navbar.navbar-expand-lg.bg-body-primary
  .container-fluid 
    %a.navbar-brand{ href: root_path } Portcullis
    %button.navbar-toggler{ type: :button, data: {bs_toggle: 'collapse', bs_target: '#navbarSupportedContent'} }
      %span.navbar-toggler-icon 
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link{ href: search_members_path } Search