%turbo-frame#modal
  .modal-header 
    %h5.modal-title 
      title
      %button.btn-close{ type: 'button',  'data-bs-dismiss' => 'modal', 'aria-label' => 'Close' }
  .modal-body 
    %p 
      here is the body 
  .modal-footer 
    Footer 
