%turbo-frame#modal
  .modal-content 
    .modal-header 
      %h5.modal-title= @question.heading
      %button.btn-close{ type: 'button',  'data-bs-dismiss' => 'modal', 'aria-label' => 'Close' }
    .modal-body 
      %p= @question.question_text.html_safe
      %hr/
      %p= @question.answer_text.html_safe
    .modal-footer 
      Footer 
