
%turbo-frame#interest
  .card.shadow-sm
    .card-header 
      Registered interests
    .card-body
      .card-text
        - if @interests.empty?
          No registered interests
        - else
          %ul.timeline-with-icons.ms-3.mt-3
            - @interests.sort_by(&:sort_order).each do |category| 
              %li.timeline-item.mb-3
                %span.timeline-icon
                  %i.bi.bi-chat-square-text-fill
                %h6= category.name
                %ul.list-group.list-group-flush
                  - category.interests.each do |interest|
                    %li.list-group-item
                      %p= interest.interest
                      %p.text-body-secondary.small
                        - unless interest.created_when.nil?
                          %span.badge.text-bg-light.rounded-pill
                            Created
                            = interest.created_when.to_date.to_fs(:long_ordinal)
                        - unless interest.last_amended_when.nil?
                          %span.badge.text-bg-light.rounded-pill
                            Updated 
                            = interest.last_amended_when.to_date.to_fs(:long_ordinal)
                        - if interest.is_correction
                          %span.badge.bg-danger.rounded-pill corrected entry

