-# Search results
-# expects members : [Member]

%turbo-frame#members
  - unless members.empty?
    .card.shadow-sm.mb-3
      .card-body
        .row.row-cols-auto 
          - members.each do |member|
            .col-4
              = render partial: 'shared/member_card', locals: { member: }