
%ul.nav.nav-tabs
  %li.nav-item
    = tabbed_menu_item('Career', member_path)
    -# %a.nav-link.active{"aria-current" => "page", href: "#"} Active
  %li.nav-item
    = tabbed_menu_item('Interests', interests_member_path)