%turbo-frame#tabbed_content
  .container
    = render partial: 'tabbed_navigation'

    .pt-3.pb-3

      %turbo-frame#focus{ src: member_focus_path(params[:id]) }
        = render partial: 'shared/spinner'

      %turbo-frame#focus{ src: member_member_interest_path(params[:id]) }
        = render partial: 'shared/spinner'